<% if can? :create, Jesuit %>
    <h1>Add New Jesuit</h1>

    <%= render 'error_messages' %>

    <%= render 'form', jesuit: @jesuit %>

    <%= link_to 'Back', jesuits_path %>
<% else %>
    <%= render 'shared/not_permitted' %>
<% end %>