<div class="staticpage-container container">
    <% if @page.nil? %>
        <p>This page doesn't exist.</p>
    <% else %>
        <div class="heading-container mt-4"><h2><%= @page.title %></h2></div>

        <hr/>

        <div class="about-body my-4">
            <%= @page.body.html_safe %>
        </div>
    <% end %>
</div>
