<% if can? :create, Staticpage %>
  <h1>Add New Static Page</h1>
  
  <%= render 'error_messages' %>

  <%= render 'form', urlpath: staticpages_path %>

  <%= render 'error_messages' %>
<% else %>
  <%= render 'shared/not_permitted' %>
<% end %>