<footer class="bcfooter">
  <div class="footer container mt-5">
      <div class="inner">
        <div class="row">
          <div class="col-12 my-3">
            <div class="pagebreak"></div>
          </div>
          <div class="col-12 footer-text mt-3">
            <p class="footer-title">Jesuit Online Necrology</p>
            <p>The Jesuit Online Necrology is founded by four institutions -- the Archivum Romanum Societatis Iesu, the Institute for Advanced Jesuit Studies at Boston College,
            the Jesuit Archives and Research Center in Missouri, and the Woodstock Theological Library at Georgetown University.</p>
            <div class="row my-4">
              <div class="col-sm-12 col-md-3"><%= image_tag('bc_library_logo_300.png', width:175, alt:'Boston College Libraries')%></div>
              <p class="col-sm-12 col-md-9" id="lib-blurb">The Jesuit Online Necrology was developed by the Boston College Libraries. Learn more about the development team and process.</p>
            </div>
          </div>
          <div class="col-12 footer-links">
            <ul class="site-links mt-2 mb-4">
              <li>Contact the Projects' Editors</li>
              <li>Learn More</li>
              <% if has_user_authentication_provider? %>
              <% if current_user %>
                <li>
                  <div class='nav-item user-signout'><%= link_to 'Staff sign out', destroy_user_session_path %></div>
                </li>
                <% unless current_user.to_s.blank? -%>
                  <li>
                    <div class='nav-item user-email'><%= link_to current_user, edit_user_registration_path %></div>
                  </li>
                <% end %>
              <% else %>
                <li>
                  <div class='nav-item user-signin'><%= link_to 'Staff sign in', new_user_session_path %></div>
                </li>
              <% end %>
            <% end %>
            </ul>
          </div>
          <div class="col-12 copyright">
            <p>Copyright Trustees of Boston College</p>
          </div>
        </div>
      </div>
  </div>
</footer>