<div id="search-navbar" class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="search-navbar-job <%= container_classes %>">
    <div class="form-wrapper col-12">
      <p id="search-title">Search the Jesuit Online Necrology</p>
      <%= render_search_bar  %>
      <!--div class="search-links clearfix">
        <p id="search-help"><a href="/about/help">Help</a></p>
        <p id="advanced-search"><a href="/advanced">Advanced Search</a></p>
      </div-->
    </div>
  </div>
</div>