<div id="search-navbar" class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="search-navbar-jon container-fluid">
    <div class="form-wrapper col-md-8 offset-md-2">
      <p id="search-title">Search the Jesuit Online Necrology</p>
      <%= render_search_bar  %>
      <div class="search-links clearfix">
        <p id="search-help" class="search-link"><%= link_to 'Help', pages_page_path('tips') %></p>
        <!--p id="advanced-search" class="search-link"><a href="/advanced">Advanced Search</a></p-->
      </div>
    </div>
  </div>
</div>