<div id="getting-started" class="mt-4">
    <p class="header-text">The Jesuit Online Necrology is an interactive and open-access database exploring the lives of the more than 32,000 men who died as members of the Society of Jesus 
    between 1814 and 1970. The database presents the dates and places that each man was born, entered the Society, and died. Taken as a whole, the corpus of individual information helps to 
    quantify larger trends in the lives of these men who devoted their lives to service as a Jesuit. What was the average age of entry to the Society for a particular province during a particular 
    time period? What year saw the most admissions? What <em>day</em> saw the most admissions?</p>

    <p class="text-center mb-4 font-weight-bold"><%= link_to 'Learn More', pages_page_path('project') %></p>

    <div class="pagebreak"></div>

    <h4 class="text-center mt-4">Visit the Institutional Partners</h4>

    <div class="image-row row">
        <div class="col-md-4 col-sm-12 image-item"><a href="http://www.sjweb.info/arsi/en/archivum-romanum-societatis-iesu/"><%= image_tag('archivum_romanum_societatis_iesu_250.png', alt:'Archivum Romanum Societatus Iesu', class: 'img-fluid')%></a></div>
        <div class="col-md-4 col-sm-12 image-item"><a href="https://www.bc.edu/centers/iajs/"><%= image_tag('institute_for_advanced_jesuit_studies_250.png', alt:'Institue for Advanced Jesuit Studies', class: 'img-fluid')%></a></div>
        <div class="col-md-4 col-sm-12 image-item"><a href="https://www.library.georgetown.edu/woodstock"><%= image_tag('woodstock_theological_library_250.png', alt:'Woodstock Theological Library', class: 'img-fluid')%></a></div>
    </div>
</div>