<div id="getting-started" class="mt-4">
    <p class="header-text">The Jesuit Lives Project is an interactive and open-access database consisting of the personal information for every man who died as a member of the Society of Jesus between 1814 and 19__. 
Yet, instead of merely presenting biographical information for individual Jesuits, this database also captures the lives led by Jesuits as a whole. 
It helps quantify larger trends in the lives of those men who died as Jesuits. What was the average age of entry to the Society for a particular province during a particular time period? 
What year saw the most admissions? What <em>day</em> saw the most admissions? And how long did a man live as a Jesuit in different locations or during different times?</p>

<p class="text-center mb-4"><a href="#">Learn More</a></p>

<div class="pagebreak"></div>

<h4 class="text-center mt-4">Visit the Institutional Partners</h4>

<div class="image-row row my-5">
    <div class="col-md-4"><a href="http://www.sjweb.info/arsi/en/archivum-romanum-societatis-iesu/"><%= image_tag('archivum_romanum_societatis_iesu_250.png', height:250, alt:'Archivum Romanum Societatus Iesu')%></a></div>
    <div class="col-md-4"><a href="https://www.bc.edu/centers/iajs/"><%= image_tag('institute_for_advanced_jesuit_studies_250.png', height:250, alt:'Institue for Advanced Jesuit Studies')%></a></div>
    <div class="col-md-4"><a href="https://www.library.georgetown.edu/woodstock"><%= image_tag('woodstock_theological_library_250.png', height:250, alt:'Woodstock Theological Library')%></a></div>
</div>

<div class="image-row row mt-5">
    <div class="col text-center"><a href="http://jesuitarchives.org/"><%= image_tag('JARC.png', height:200, alt:'Jesuit Archives & Research Center')%></a></div>
</div>
</div>