<div class="tombstone">
  <span class="tombstone__birth"><%= document.tombstone_birth %></span>
  <span class="tombstone__connector">–</span>
  <span class="tombstone__death"><%= document.tombstone_death %></span>
</div>