/*================================================================================
*                                  Font 
==================================================================================*/
  @font-face {
    font-family: OpenSans;
    src: asset-url('opensans-bold.ttf'), asset-url('OpenSans-Bold.eot') format('embedded-opentype');
    font-weight: bold;
  }

  @font-face {
    font-family: OpenSans;
    src: asset-url('opensans-bolditalic.ttf'), asset-url('OpenSans-BoldItalic.eot') format('embedded-opentype');
    font-style: italic;
    font-weight: bold;
  }

  @font-face {
    font-family: OpenSans;
    src: asset-url('opensans-extrabold.ttf'), asset-url('OpenSans-Extrabold.eot') format('embedded-opentype');
    font-weight: 800;
  }

  @font-face {
    font-family: OpenSans;
    src: asset-url('opensans-extrabolditalic.ttf'), asset-url('OpenSans-ExtraboldItalic.eot') format('embedded-opentype');
    font-style: italic;
    font-weight: 800;
  }

  @font-face {
    font-family: OpenSans;
    src: asset-url('opensans-italic.ttf'), asset-url('OpenSans-Italic.eot') format('embedded-opentype');
    font-style: italic;
    font-weight: normal;
  }

  @font-face {
    font-family: OpenSans;
    src: asset-url('opensans-light.ttf'), asset-url('OpenSans-Light.eot') format('embedded-opentype');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: OpenSans;
    src: asset-url('opensans-lightitalic.ttf'), asset-url('OpenSansLight-Italic.eot?#iefix') format('embedded-opentype');
    font-style: italic;
    font-weight: 300;
  }

  @font-face {
    font-family: OpenSans;
    src: asset-url('opensans-regular.ttf'), asset-url('OpenSans.eot') format('embedded-opentype');
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    font-family: OpenSans;
    src: asset-url('opensans-semibold.ttf'), asset-url('OpenSans-Semibold.eot') format('embedded-opentype');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: OpenSans;
    src: asset-url('opensans-semibolditalic.ttf'), asset-url('OpenSans-SemiboldItalic.eot') format('embedded-opentype');
    font-weight: 600;
    font-style: italic;
  }
  /*================================================================================
  *                                  Body
  ==================================================================================*/

  * {
    margin: 0;
    outline: none;
  }

  html>body {
    margin: 0;
    color: #333;
    font-family: OpenSans;
  }
  @media (max-width: 768px){
    a {
        text-decoration: underline!important;
    }
  }
  .center-col {
    float: none!important;
    margin: 0 auto;
  }

  .break {
    border: 1px solid #bc9b6a;
    margin: 35px 0px 30px 0px;
  }
  .space{
    border: 0;
  }

  .gold-border {
    border: 1px solid #bc9b6a;
  }

  .vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
  }

  .light {
    font-weight: 300;
  }

  .bold {
    font-weight: bold;
  }

  .content {
    margin-top: 12px;
  }

  .selected {
    border-bottom: 2px solid black;
    color: #333;
    padding-bottom: 3px;
  }

  .pagebreak {
    border-bottom: solid 5px #872334;
  }

  /*================================================================================
  *                                  Text
  ==================================================================================*/

  .upper {
    text-transform: uppercase;
  }

  .burgundy {
    color: #872334;
  }

  .gold {
    color: #bc9b6a;
  }
  .txt-sma {
    font-size: 1em;
  }
  .txt-med {
    font-size: 1.25em;
  }
  .txt-lrg {
    font-size: 2em;
  }

  /*================================================================================
  *                                  Header
  ==================================================================================*/

  .top-menu {
    color: #4D2911;
    font-size: 15px;
    background: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .iajs {
    letter-spacing: 1px;
    font-weight: bold;
    color: #333;
  }

  /*================================================================================
  *                                  Navigation
  ==================================================================================*/

  /*.navigation {
    background-color: rgb(140, 138, 137);
    font-size: 14px;
  }

  .mobile-logo {
    margin-top: 4px;
  }*/

  body .header a {
    text-transform: uppercase;
    /*TODO: Change Font Size to be based off of percentages*/
  }

  /*.nav-bcjs a {
    color: #eee;
  }*/

  /*.nav-bcjs>li>a:hover,
  .nav-bcjs>li>a:focus {
    background-color: #514242 !important;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  .icon-bar {
    background: #eee;
  }
  .bottom-section{
    padding: 10px;
  }*/
  .brand-backgnd {
    background: #bc9b6a;
    position: relative;
  }

  .site-header__link, .site-header__link:hover {
    text-decoration: none;
  }

  .header-title, .header-sub-title {
    color: white;
    letter-spacing: 4.5px;
  }
  .header-sub-title {
    color: white;
    letter-spacing: 4.5px;
    font-size: 15px;

  }
  .header-title {
    font-size: 192%;
    letter-spacing: 4px;
    font-weight: 100;
  }
  @media (min-width: 1440px) {
    .header-title{
      font-size: 48px;
    }
  }
  /*.header-box {
    position: absolute;
    bottom: 0px;
    left: 120px;
  }*/
  .logo {
    max-height: 111px;
  }
  /*.breadcrumb-bar {
    margin: 4px 0px 30px 0px;
  }*/

  .navbar {
    background-color: #69635f;
    a {
        color: #fff;
        &:hover {
            background-color:#000;
        }
    }
    ul.dropdown-menu {
        a {
            color: #000;
            &:hover {
                background-color:#e9ecef;
            }
        }
    }
  }

  #search-navbar {
    width: 100% !important;
    margin-left: 0;
    background-image: image-url('hero.jpg');
    background-size: cover;
    background-position: 0 50%;
    height: 400px;
    padding: 100px 0 0 0;
    margin-bottom: 0;
    background-color: inherit;

    .search-navbar-job .form-wrapper {
      background-color: rgba(0,0,0,0.65);
      padding: 25px;
      padding-bottom: 20px;
      color: white;
      font-size: 21px;
    }
}


  /*================================================================================
  *                                  Homepage
  ==================================================================================*/

  #getting-started {
    font-size:16px;
    margin-top: 2rem;
    .header-text {
      font-size: 16px;
    }
  }

  /*================================================================================
  *                                  Index
  ==================================================================================*/

  .body-container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .search {
    color: #eee;
    text-transform: uppercase;
  }

  .bc-red {
    background: #872334;
  }

  .center-headers {
      font-weight: 100;
      color: grey;
  }
  .explore-box {
    padding: 4px!important;
    background-repeat: no-repeat;
    border: 4px white solid;
    background-size: cover;
  }
  @media (min-width: 768px) {
    .row-eq-height {
      display: table;
      width: 100%
    }
    .row-eq-height > [class*="col-"] {
      float: none;
      display: table-cell;
    }
  }
  .explore-box-txt {
    position: absolute;
    bottom: 0px;
    left: 10px;
    color: white;
    font-size: 22px;
    text-shadow: 2px 2px 4px black;
  }

  /*================================================================================
  *                                  Footer
  ==================================================================================*/

  footer.bcfooter {
    .footer-header{
        font-weight: 700;
    }
    .footer {
        background-color: white;
        a {
            color: #514242;
        }
        .inner {
            font-size: 16px;
            .footer-text {
                .footer-title {
                    font-size: 20px;
                    font-weight: 700;
                }
                a {
                    text-decoration: underline;
                }
            }
            .site-links {
                list-style-type: none;
                padding: 0px;
                text-align: center;
                font-size: 14px;
                li {
                    display: inline-block;
                    padding: 0 2rem;
                    line-height: 1;
                    border-right: 1px solid;
                    /*text-transform: uppercase;*/
                    &:last-child {
                        border-right: 0px;
                    }
                    a {
                        color: #872334;
                    }
                }
            }
            .copyright {
                text-align: center;
                color: #B29D6C;
                font-size: 14px;
            }
        }
    }
}

@import "search_results";