/** Local style rules for search results display */
.document {
  .tombstone {
    margin-left: 1.5em;
  }
}

.show-metadata__field-label {
  font-weight: 600;
  text-align: right;
}

.show-metadata__field-group {
  margin-bottom: 1em;
}