/** Local style rules for search results display */
#documents {
  margin-bottom: 2rem;
}
.documents-list {
  article.document {
    margin-top: 0;
    padding: 1rem 0;
  }
}

.document {
  .tombstone {
    margin-left: 1.5em;
  }
}

.show-metadata__field-label {
  font-weight: 600;
  text-align: right;
}

.show-metadata__field-group {
  margin-bottom: 1em;
}

#sortAndPerPage.sort-pagination {
  margin-bottom: 0;
}