<h1>New Province</h1>

<% if can? :create, Province %>
    <%= render 'form', province: @province %>

    <%= link_to 'Back', provinces_path %>
<% else %>
    <%= render 'shared/not_permitted' %>
<% end %>